{% extends 'base.html' %}

{% block title %}
Fourth Year Modules | EduBridge
{% endblock %}

{% block content %}
<div class="container modules-section">
    <div class="mb-4">  <!-- Added margin-bottom container -->
        <a href="/academic-results" class="btn btn-academic-results">
            <i class="fas fa-chart-bar me-2"></i> View Academic Results
        </a>
    </div>
    <h1 class="text-center">Fourth Year Modules</h1>
    <p class="text-center">{{ message }}</p>

    <div class="modules-card">
        {% for module in modules %}
            <div class="module">
                <span class="module-name">{{ module.name }}</span>
                {% if module.status == 'register' %}
                    <a href="/module-info?module={{ module.name | urlencode }}" class="btn btn-success">Register</a>
                {% else %}
                    <button class="btn btn-danger" disabled>OFFERED</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}