{% extends 'base.html' %}

{% block title %}
Fourth Year Modules | EduBridge
{% endblock %}

{% block content %}
<div class="container modules-section">
    
    <h1 class="text-center">Fourth Year Modules</h1>
    <p class="text-center">{{ message }}</p>

    <div class="modules-card">
        {% for module in modules %}
            <div class="module">
                <span class="module-name">{{ module.name }}</span>
                {% if module.status == 'register' %}
    <a href="/module-info?module={{ module.name | urlencode }}" class="btn btn-success">Register</a>
{% elif module.status == 'registered' %}
    <button class="btn btn-success mt-3" disabled>REGISTERED</button>
{% else %}
    <button class="btn btn-danger" disabled>OFFERED</button>
{% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="text-center mt-4">
            <a href="/" class="btn btn-success mt-3">Return to Home</a>
            <a href="/tut-dashboard" class="btn btn-success mt-3">Return to Dashboard</a>
            
        </div>
</div>
{% endblock %}